{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About Batman</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, numquam! Nemo perferendis molestiae nihil corporis rerum nesciunt esse ipsa optio?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/batman.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}